@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  background-image: linear-gradient(
    68.4deg,
    rgba(99, 251, 215, 1) -0.4%,
    rgba(5, 222, 250, 1) 100.2%
  );
  background-size: 100%;
  /* text-decoration: underline; */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.specialText {
  background-image: linear-gradient(
    68.4deg,
    rgba(99, 251, 215, 1) -0.4%,
    rgba(5, 222, 250, 1) 100.2%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .box {
  position: relative;
} */
/* .box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5px;
  padding: 2px;
  background: linear-gradient(
    68.4deg,
    rgba(99, 251, 215, 1) -0.4%,
    rgba(5, 222, 250, 1) 100.2%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
} */

.footer {
  background: linear-gradient(
    68.4deg,
    rgb(88, 193, 168) -0.4%,
    rgb(9, 220, 248) 100.2%
  );
  padding: 1.5rem;
  /* position: absolute;
  width: 100%;
  bottom: 0; */
}

.foot:hover {
  color: antiquewhite;
  transition: all ease-in-out 0.2s;
}

.bg {
  background: linear-gradient(
    68.4deg,
    rgba(99, 251, 215, 1) -0.4%,
    rgba(5, 222, 250, 1) 100.2%
  );
}

.talk:hover {
  background: linear-gradient(
    68.4deg,
    rgba(99, 251, 215, 1) -0.4%,
    rgba(5, 222, 250, 1) 100.2%
  );
  color: #fff;
  border: none;
  transition: all 0.4s;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
